// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-success{
  color: #fff;
    background-color: green;
    border-color: gree;
}